.dropdown_active {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.show {
  display: block !important;
}

.show_flex {
  display: flex !important;
}

.showAllQueryResults {
  display: flex !important;
}

@media (max-width: 1024px) {
  .hide_on_mobile {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .hide_on_desktop {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hide_on_tablet {
    display: none;
  }
  .show_on_tablet {
    display: block !important;
  }
}

.hide {
  display: none !important;
}
