.hero_banner_container h1 {
  position: relative;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 1px 1px grey;
  width: 97%;
}

@media (max-width: 500px) {
  .page_mobile_image_text_and_cta_container,
  .hero_banner_headlines_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: auto;
  }
  .page_mobile_image_cta_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page_mobile_image_text_and_cta_container a {
    color: #fff !important;
  }
}

.hero_banner_container p {
  text-align: left;
  color: #fff;
  width: 100%;
  padding: 15px 10px 0 10px;
}

.hero_banner_container {
  position: relative;
}

.hero_banner_container img {
  height: 300px;
  width: 100%;
}

@media (min-width: 500px) {
  .hero_banner_container {
    background-color: var(--secondary_color);
  }
  .hero_banner_container p {
    margin: 10px 0 0 0;
  }
  .hero_banner_container .hero_banner_headlines_container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 50px 20px;
  }
}

@media (min-width: 768px) {
  .hero_banner_container h1 {
    text-align: left;
    white-space: wrap;
    width: 100%;
  }
  .hero_banner_container p {
    text-align: left;
    width: 75%;
  }
}

.page_image {
  position: relative;
  text-align: center;
  height: 300px;
}

@media (min-width: 1025px) {
  .width_restriction {
    width: 80%;
    margin: 0 auto;
  }
  .page_image {
    height: 400px;
  }
  .page_image img {
    height: 400px;
  }
}

@media (min-width: 500px) {
  .page_mobile_image_text_and_cta_container {
    display: none;
  }
  .hero_banner_container .page_mobile_image img {
    display: none;
  }
}

.desktop_and_mobile_hero_image_wrapper {
  position: relative;
}

.desktop_and_mobile_hero_image_wrapper .hero_banner_headlines_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(0%, 0%);
}

.desktop_and_mobile_hero_image_wrapper img {
  width: 100%;
  height: 75vh;
  max-height: 350px;
}

.desktop_and_mobile_hero_image_wrapper h1 {
  position: relative;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 1px 1px grey;
}

.desktop_and_mobile_hero_image_wrapper p {
  position: relative;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 1px 1px grey;
}

.desktop_and_mobile_hero_image_wrapper .hero_center_logo {
  width: auto;
  height: auto;
}

.desktop_and_mobile_hero_image_wrapper
  .hero_banner_headlines_container
  .hero_banner_headlines_wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .desktop_and_mobile_hero_image_wrapper .hero_banner_headlines_container {
    width: 100%;
    margin: 0 20px;
  }

  .desktop_and_mobile_hero_image_wrapper
    .hero_banner_headlines_container
    .hero_banner_headlines_wrapper {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    align-items: baseline;
  }

  .desktop_and_mobile_hero_image_wrapper h1,
  .desktop_and_mobile_hero_image_wrapper p {
    text-align: left;
  }
}
