.comments-area,
.entry-content > *,
.entry-footer,
.entry-header,
.entry-summary > *,
.page-content > *,
.page-header,
.page-navigation,
.post-navigation,
.site-info {
  max-width: 100%;
}

.entry-header a {
  color: var(--secondary_color);
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: '"';
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.page_404 {
  text-align: center;
}

.page_404 ul {
  list-style: none;
  padding: 0;
}

.custom-logo-link {
  display: inline-block;
  margin: 0 auto 1em;
}

.site-branding {
  text-align: center;
  padding: 60px 0 1.75em;
}

.site-title a {
  text-decoration: none;
  color: inherit;
}

.site-description {
  margin: 0.4375em 0 0;
  font-size: 17px;
  font-weight: inherit;
  line-height: 1.4;
  word-wrap: break-word;
  color: #757575;
}

.banner_top_image {
  min-height: 350px;
  width: 100%;
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (min-width: 48em) {
  .site-main .comment-navigation,
  .site-main .pagination,
  .site-main .post-navigation,
  .site-main .posts-navigation {
    padding-left: 0;
    padding-right: 0;
  }
  .banner_top_image {
    min-height: 350px;
  }
}

.banner_top_image label {
  color: #000;
}

.site-info {
  text-align: center;
}

.section_padding_top {
  padding-top: 35px;
}

.width_restriction {
  width: 100%;
  margin: 0 auto;
}

.short_code_video_cta {
  display: flex;
  justify-content: center;
}

.shortcode_spacer {
  margin: 50px 0;
}

.widget {
  margin-bottom: 15px;
}

.shortcode_section {
  margin: 25px 0;
}

.blog_collection h1 {
  text-align: center;
  color: var(--secondary_color);
}

.healing_section {
  margin: 0 !important;
}

.image_left_cta_right_shortcode_left_wrapper img {
  max-height: 1000px !important;
}

.directory_cta .image_left_cta_right_shortcode_right_wrapper ul li {
  width: 45%;
  list-style: circle;
  line-height: 1;
  margin-left: 20px;
  font-size: 16px;
}
.image_left_cta_right_shortcode_right_wrapper p {
  margin-bottom: 5px;
  font-size: 16px;
}

.image_left_cta_right_shortcode_right_wrapper h5 {
  font-size: 25px;
  margin-bottom: 5px !important;
}
h3.gform_title {
  display: none;
}
label.gfield_label {
  color: black;
}

li#field_6_1 {
  float: left;
}

@media (min-width: 500px) {
  li#field_6_1 {
    min-width: 500px;
  }
}

.page-id-310610 div#gform_wrapper_6 {
  float: left;
}

.blue_featured_content_body.list_styling {
  margin: 30px;
}
