.data_cards_shortcode_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.data_cards_indv_card {
  width: 90%;
  border: 2px solid var(--secondary_color);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto 10px auto;
}

.data_cards_indv_card h5 {
  font-size: 24px;
  color: var(--secondary_color);
  margin: 0;
  text-align: center;
}

.data_cards_indv_card p {
  color: var(--secondary_color);
  margin: 10px 0 0 0;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .data_cards_shortcode_container {
    flex-direction: row;
    justify-content: space-around;
  }
  .data_cards_indv_card {
    width: 30%;
  }
}
