.image_cta_wrapper {
  position: relative;
  height: auto;
}

.image_cta_wrapper img {
  height: auto;
  min-width: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.image_cta_wrapper_body {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 768px) {
  .image_cta_wrapper img {
    min-height: 350px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .image_cta_wrapper img {
    max-height: 300px;
  }
  .image_cta_wrapper_body {
    top: 15%;
  }
}

@media (min-width: 1024px) {
  .image_cta_wrapper_body {
    top: 20%;
  }
}

.image_cta_headlines {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_cta_headlines h4 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  margin-top: 0;
  padding: 15px 30px;
  font-weight: 600;
  background-color: rgba(45, 45, 45, 0.3);
}

.image_cta_headlines p {
  text-align: center;
  color: #fff;
  font-size: 18px;
  text-shadow: 2px 2px 2px #a9a9a9;
  font-weight: 450;
  width: 80%;
  line-height: 1.2;
}

.image_cta_container_ctas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.image_cta_container_ctas a {
  padding: 10px 20px;
  color: #fff;
  border-radius: 2px;
  margin-bottom: 20px;
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 2px 2px 2px #a9a9a9;
}

.image_cta_container_cta_1 {
  background-color: var(--primary_color);
}

.image_cta_container_cta_2 {
  background-color: var(--secondary_color);
}

.image_cta_container_cta_1:hover,
.image_cta_container_cta_2:hover {
  background-color: var(--tertiary_color);
}

@media (min-width: 768px) {
  .image_cta_container_ctas a {
    width: 40%;
    max-width: 250px;
  }
  .image_cta_container_ctas {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .image_cta_container_cta_1 {
    margin-right: 10px;
  }
  .image_cta_container_cta_2 {
    margin-left: 10px;
  }
}
