.two_buttons_cta_section {
  background-color: #fff;
}

.two_buttons_cta_container {
  padding: 0;
  margin: 0 auto;
}

.shortcode_two_buttons_first_cta {
  background-color: var(--primary_color);
}

.shortcode_two_buttons_second_cta {
  background-color: var(--secondary_color);
  margin-top: 5px;
}

.shortcode_two_buttons_first_cta:hover,
.shortcode_two_buttons_second_cta:hover {
  background-color: var(--tertiary_color);
}

.shortcode_two_buttons_cta {
  display: flex;
  justify-content: center;
}

.shortcode_two_buttons_cta a {
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px grey;
  letter-spacing: 1.2px;
  height: 100%;
  width: 100%;
  font-size: 18px;
}

@media (max-width: 768px) {
  .shortcode_two_buttons_cta {
    min-height: 80px;
  }
  .shortcode_two_buttons_second_cta {
    min-height: 40px;
  }
}

.two_cta_btn_sidebar_container {
  border-radius: 2px;
  padding: 25px 0;
}

.two_cta_btn_sidebar_top_cta {
  margin: 0 auto 20px auto;
  height: 40px;
  background-color: var(--secondary_color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 5px;
}

.two_cta_btn_sidebar_top_cta a {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.two_cta_btn_sidebar_top_cta:hover {
  background-color: var(--tertiary_color);
}

.two_cta_btn_sidebar_bottom_cta {
  margin: 0 auto;
  height: 40px;
  background-color: var(--primary_color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.two_cta_btn_sidebar_bottom_cta a {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
}

.two_cta_btn_sidebar_bottom_cta:hover {
  background-color: var(--tertiary_color);
}
