.job_application_form_container form label {
  color: #000;
}

.career_section h2 {
  text-align: center;
}

.tab_content h2 {
  text-align: left;
}

.tab_container {
  display: flex;
  flex-direction: column;
  height: auto;
  border: 1px solid #aeaeae;
}

.tab {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.tab button {
  color: #fff;
  padding: 22px 16px;
  width: 50%;
  border: none;
  outline: 0;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid;
  background-color: var(--secondary_color);
}

.tablinks {
  text-align: center !important;
}

.tablinks:hover {
  text-decoration: underline;
}

.tab button.active {
  background-color: var(--primary_color);
}

.tabcontent {
  width: 100%;
  padding: 25px;
}

.tabcontent h2 {
  margin-top: 0;
  color: var(--primary_color);
}

.position_summary {
  color: var(--secondary_color);
  font-size: 22px;
}

.tabcontent a {
  padding: 15px 30px;
  background-color: var(--primary_color);
  color: #fff;
}

.tabcontent a:hover {
  background-color: var(--secondary_color);
  color: #fff;
}

.job_apply_now {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .tab_container {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
  }
  .tab {
    display: flex;
    flex-direction: column;
  }
  .tab button {
    width: 100%;
  }
  .tabcontent {
    width: 70%;
  }
}

.urgent_hire {
  color: red;
}

.job_application_page_content_container h2 {
  text-align: center;
  color: var(--secondary_color);
}

.job_application_job_content {
  padding: 12.5px;
}

.job_application_job_content ul {
  list-style: disc;
}

.job_application_page_divider {
  display: flex;
  flex-direction: row;
}

.job_application_page_divider {
  margin: 50px 0;
  padding: 0 12.5px;
}

.job_application_page_divider h3 {
  display: flex;
  flex-direction: row;
  width: 30%;
  color: var(--secondary_color);
}

.job_application_page_divider div {
  width: 70%;
  border: 2px solid var(--tertiary_color);
  height: 1px;
  margin: auto 0 auto 25px;
}

.job_application_form_container {
  padding: 15px;
}

@media (min-width: 768px) {
  .job_application_page_divider h3 {
    width: 10%;
  }
  .job_application_page_divider div {
    width: 90%;
  }
}