.insurance_verification_page .page_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.insurance_verification_page .desktop_and_mobile_hero_image_wrapper {
  margin-bottom: 25px;
}

.insurance_verification_page .page_content {
  width: 100%;
}

.insurance_verification_page .insurance_form_section {
  width: 100%;
}

.insurance_verification_page .page_content h2 {
  margin: 0;
}

.insurance_form_wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--secondary_color);
  border-radius: 2px;
  color: #fff;
}

.insurance_form_wrapper form {
  padding: 10px;
}

.insurance_form_wrapper form .gform_body ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.insurance_form_wrapper form .gform_body ul li {
  width: 100%;
}

.insurance_form_wrapper form h3 {
  text-align: center;
}

.insurance_form_wrapper form h2 {
  color: #fff;
  margin: 0;
  text-align: center;
}

#ui-datepicker-div {
  background-color: #fff;
}

.validation_message {
  color: red;
}

.full_width {
  width: 100% !important;
}

@media (min-width: 400px) {
  .insurance_form_wrapper form .gform_body ul li {
    width: 48%;
  }
}

@media (min-width: 768px) {
  .insurance_verification_page .page_wrapper {
    display: flex;
    flex-direction: row;
  }

  .insurance_verification_page .page_content {
    width: 48%;
  }

  .insurance_verification_page .insurance_form_section {
    width: 48%;
  }
}
