.blog_page_article {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.blog_page_separator {
  width: 80%;
  border-bottom: 2px solid #aeaeae;
  margin: 0 auto;
}

.blog_page_article h2 {
  margin-top: 0;
}

.blog_page_article_thumbnail {
  width: 100%;
  padding: 25px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog_page_article_body {
  width: 100%;
  padding: 0 20px 25px 20px;
}

.blog_page_readMore {
  text-align: center;
}

.blog_page_article_body header {
  height: auto;
}

.blog_page_article_body .blog_page_readMore a {
  background-color: var(--secondary_color);
  color: #fff;
  padding: 10px 15px;
  border-radius: 2px;
}

.blog_page_article_body .blog_page_readMore a:hover {
  background-color: var(--tertiary_color);
}

.blog_page_article_thumbnail_image {
  width: 72.5%;
}

.blog_page_article_thumbnail_image img {
  object-fit: cover;
}

.entry-taxonomies {
  display: inline;
}

.entry-summary {
  margin-top: 12.5px;
}

.entry-meta {
  font-size: 14px;
}

.blog_page_article_thumbnail_date {
  text-align: center;
  height: 75px;
  background-color: var(--secondary_color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 25%;
}

.blog_container h2 {
  margin: 0 0 25px 0;
  color: var(--secondary_color);
}

.blog_collection .author_and_medical_reviewer_section {
  display: none;
}

@media (max-width: 768px) {
  .blog_page_article_body {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .blog_page_article {
    display: flex;
    flex-direction: row;
  }
  .blog_page_article_thumbnail {
    width: 100%;
  }
  .blog_page_article_body {
    width: 100%;
  }
}
