.footer_form_spacer {
  content: "";
  background-color: #cdcdcd;
  height: 1px;
  width: 70%;
  margin: 20px auto 25px auto;
}
.terms_and_privacy_container {
  display: flex;
  flex-direction: row;
}

.social_media_container {
  background-color: var(--secondary_color);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social_media_container a {
  margin: 0 25px;
}

.copyright_container {
  display: flex;
  justify-content: center;
  background-color: var(--secondary_color);
  padding: 25px 0 50px 0;
}

.copyright_container a {
  color: #000;
  margin: 0 25px;
}

footer .non_home_copyright {
  font-size: 14px;
}

.footer_bottom_wrapper .footer_copyright_wrapper {
  margin-bottom: 15px;
}

.standard_footer_container {
  background-color: var(--secondary_color);
  display: flex;
  flex-direction: column;
}

.standard_footer_contact_content {
  width: 90%;
  margin: 0 auto;
}

.standard_footer_contact_content img {
  margin-right: 15px;
}

.standard_footer_contact_content a,
.standard_footer_contact_content p {
  color: #fff;
  font-weight: 700;
}

.standard_footer_address_content p {
  margin-bottom: 0;
}

.standard_footer_contact_container {
  width: 100%;
}

.standard_footer_contact_container h5 {
  color: #fff;
  width: 90%;
  margin: 0 auto 25px auto;
  text-align: center;
}

.standard_footer_form_container {
  width: 90%;
  margin: 0 auto;
}

.standard_footer_form_container h5 {
  color: #fff;
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
}

.footer_home_center_link_container,
.footer_home_form_container h5 {
  color: var(--secondary_color);
  margin-top: 0;
  text-transform: uppercase;
  text-align: left;
}

.standard_footer_badges_container {
  width: 100%;
}

.stanard_footer_address,
.stanard_footer_email,
.stanard_footer_phone {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.stanard_footer_address img,
.stanard_footer_email img,
.stanard_footer_phone img {
  height: 25px;
  width: 25px;
}

.standard_footer_address_content {
  display: flex;
  flex-direction: column;
}

.standard_footer_contact_image img {
  margin: 0 auto;
}

.standard_footer_contact_container {
  margin-top: 25px;
}

@media (max-width: 1024px) {
  .stanard_footer_address,
  .stanard_footer_email,
  .stanard_footer_phone {
    width: 80%;
    margin: 15px auto;
  }
}

@media (min-width: 1024px) {
  .standard_footer_container {
    flex-direction: row;
  }
  .standard_footer_contact_container {
    width: 30%;
    margin-top: 25px;
  }
  .standard_footer_form_container {
    width: 40%;
    margin-top: 25px;
  }
  .standard_footer_badges_container {
    width: 30%;
  }
  .standard_footer_form_container h5 {
    text-align: center;
  }
}

.standard_footer_badges_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.standard_footer_badge_wrapper {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.standard_footer_badge_wrapper img {
  margin: 0 auto;
  max-height: 125px;
}

@media (min-width: 768px) {
  .standard_footer_badges_container {
    display: flex;
    flex-direction: row;
  }
  .standard_footer_badge_wrapper {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .footer_home_center_link_wrapper {
    margin-top: 25px;
  }
  .footer_home_center_link_wrapper h5 {
    margin-top: 0;
  }
}

.footer_contact_information ul {
  padding-left: 0;
}

.footer_contact_information ul li {
  display: flex;
  margin-bottom: 25px;
}

.footer_contact_information ul li img {
  margin-right: 20px;
  height: 25px;
  width: 25px;
}

.footer_contact_information a,
.footer_contact_information p {
  color: #000;
}

.footer_contact_information h4 {
  margin: 25px 0;
  font-size: 20px;
  color: var(--secondary_color);
  font-weight: bolder;
}

.footer_contact_information_address_container {
  display: flex;
  flex-direction: column;
}

.footer_contact_information_address_container p {
  margin-bottom: 0;
}

.home_footer_container {
  display: flex;
  flex-direction: column;
  background-color: var(--fourth_color);
}

.footer_contact_container,
.footer_home_form {
  width: 100%;
  padding: 25px;
}

.sunshine_home_footer_contact_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1024px) {
  .home_footer_container {
    flex-direction: row;
  }
  .footer_home_form {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .footer_contact_container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer_home_center_link_container {
    width: 30%;
  }
}

.sunshine_home_footer_form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border: none;
}

.footer_home_form_container {
  width: 100%;
}

.footer_home_form_container input {
  width: 100%;
  margin: 0 auto 12.5px auto;
  padding: 10px;
}

#footer_home_name_email_phone_submit_btn_container {
  width: 35%;
  display: flex;
  justify-content: start;
}

#footer_home_name_email_phone_submit_btn_container input {
  background-color: #efefef;
}

#footer_home_name_email_phone_submit_btn_container input:hover {
  background-color: var(--secondary_color);
  color: #fff;
  text-decoration: underline;
}

#footer_home_name_email_phone_submit_btn {
  color: var(--secondary_color);
  font-weight: bolder;
}

.footer_home_center_link_container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer_home_center_link_container ul {
  padding-left: 0;
}

.footer_home_center_link_container ul li {
  list-style: none;
  margin-bottom: 12.5px;
}

.footer_home_center_link_container ul li a {
  color: #000;
}

.footer_home_center_link_wrapper {
  width: 100%;
  text-align: center;
}

.home_footer_socials_container {
  display: flex;
  flex-direction: row;
  background-color: #aeaeae;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.home_footer_socials_container a {
  margin: 0 12.5px;
}

.home_footer_accreditations_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: 50px auto 25px auto;
  width: 50%;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .home_footer_accreditations_wrapper a,
  .home_footer_accreditations_wrapper img {
    margin-bottom: 25px;
  }
}

@media (max-width: 1024px) {
  .home_footer_accreditations_wrapper {
    width: 100%;
  }
}

.footer_copyright_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_copyright_wrapper p {
  text-align: center;
}

@media (max-width: 768px) {
  .footer_home_center_link_container {
    width: 100%;
    padding-bottom: 100px;
  }
  .footer_contact_information {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_contact_image img {
    margin: 0 auto;
  }
}

.footer_home_terms_and_privacy {
  margin-top: 25px;
}

.footer_home_terms_and_privacy a {
  padding: 0 15px;
  color: #000;
}

.footer_home_terms_and_privacy :first-child {
  border-right: 2px solid #000;
  padding-left: 0;
  border-radius: 0;
}

.blog_footer_container {
  display: flex;
  color: #fff;
  flex-direction: column;
  margin-top: 25px;
  align-items: center;
}

@media (max-width: 768px) {
  .blog_footer_container {
    margin-top: 0;
    height: auto;
    padding: 25px 20px;
  }
  .footer_logo_and_contact_info_container {
    height: auto;
  }
}

.blog_footer_container ul {
  padding: 0 25px;
  list-style-type: disc;
}

.treatment_specialist_link {
  color: #fff;
}

.home_page_footer_headline_form_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: absolute;
}

.home_page_footer_headlines {
  min-width: 100%;
  padding: 25px 20px;
}

.home_page_footer_form {
  width: 100%;
}

.home_page_footer_headlines p {
  text-align: center;
}

.home_page_footer_headlines h4 {
  color: #f5b335;
  font-weight: 700;
  text-align: center;
  margin-top: 25px;
  font-size: 28px;
}

@media (min-width: 1024px) {
  .home_page_footer_headline_form_container {
    display: flex;
    width: 90%;
    flex-direction: row;
    position: absolute;
    justify-content: space-around;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .home_page_footer_headlines {
    min-width: 50%;
  }
  .home_page_footer_form {
    width: 50%;
  }
  .home_page_footer_headlines h4 {
    font-size: 40px;
  }
}

.footer_form_column label,
.footer_form_row label {
  color: #fff;
}

@media (max-width: 1024px) {
  .home_footer_socials_section {
    padding-bottom: 50px;
  }
  .mobile_bottom_cta_section {
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
  .mobile_bottom_cta_container {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #e4eff7;
  }
  .cta_left,
  .cta_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45px;
    border-radius: 5px;
  }
  .cta_left,
  .cta_right {
    width: 150px;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
  }
  .cta_left {
    background-color: #ff8c00;
    border-top: #ff8c00;
    border-bottom: #ff8c00;
  }
  .cta_right {
    background-color: var(--secondary_color);
    border-top: 1px solid var(--secondary_color);
    border-bottom: 1px solid var(--secondary_color);
  }
}

.home_page_footer_form {
  height: auto;
}

.home_page_footer_form .standard_form_first_last_row {
  margin-bottom: 25px;
}

@media screen and (min-width: 1025px) {
  .site-footer {
    grid-column: span 2;
    z-index: 3;
    position: relative;
  }
}

@media (min-width: 1024px) {
  .footer_form_spacer {
    display: none;
  }
}
