.all_centers_accordion_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}

.all_centers_accordion_wrapper .all_centers_accordion_element {
  width: 90%;
  max-width: 450px;
  margin: 0 auto 25px auto;
  display: flex;
  flex-direction: column;
}

.all_centers_accordion_element img,
.all_centers_accordion_element picture {
  max-height: 125px;
}

.all_centers_center_image,
.all_centers_center_image img {
  max-height: 150px;
  width: 100%;
}

.all_centers_accordion_headline_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.chapters_styles .all_centers_accordion_headline_wrapper {
  background-color: var(--chapters_primary);
}

.all_centers_accordion_dropdown_wrapper {
  background-color: red;
}

.center_page_location_address {
  width: 100%;
}

.chapters_styles .center_page_location_address {
  background-color: var(--chapters_secondary);
}

.lincoln_styles .all_centers_accordion_headline_wrapper {
  background-color: var(--lincoln_primary);
}

.lincoln_styles .center_page_location_address {
  background-color: var(--lincoln_secondary);
}

.monarch_styles .all_centers_accordion_headline_wrapper {
  background-color: var(--monarch_primary);
}

.monarch_styles .center_page_location_address {
  background-color: var(--monarch_secondary);
}

.mountain_styles .all_centers_accordion_headline_wrapper {
  background-color: var(--mountain_primary);
}

.mountain_styles .center_page_location_address {
  background-color: var(--mountain_secondary);
}

.willow_styles .all_centers_accordion_headline_wrapper {
  background-color: var(--willow_primary);
}

.willow_styles .center_page_location_address {
  background-color: var(--willow_secondary);
}

.center_page_location_address a {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  span {
    margin-right: 5px;
  }
}

.all_centers_accordion_dropdown_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;

  .all_centers_accordion_row_list span {
    display: flex;
    flex-direction: row;
    width: 45%;

    p {
      font-size: 10px;
    }

    img {
      max-width: 15px;
      margin-right: 5px;
    }

    iframe {
      width: 100% !important;
    }
  }
}

.all_centers_accordion_row {
  h4 {
    margin: 0;
    color: #fff;
  }

  p {
    margin: 0;
    color: #fff;
  }

  ul {
    list-style: none;
  }

  li {
    margin: 0;
    color: #fff;
  }

  .all_centers_accordion_row_accreditations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .all_centers_accordion_wrapper {
    flex-direction: row;
  }

  .all_centers_accordion_wrapper .all_centers_accordion_element {
    width: 45%;
  }
}

@media (min-width: 1024px) {
}
