.all_centers_accordion_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}

.all_centers_accordion_wrapper .all_centers_accordion_element {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.all_centers_accordion_element img,
.all_centers_accordion_element picture {
  max-height: 125px;
}

.chapters_styles .all_centers_accordion_row {
  background-color: var(--chapters_primary);
}

.lincoln_styles .all_centers_accordion_row {
  background-color: var(--lincoln_primary);
}

.monarch_styles .all_centers_accordion_row {
  background-color: var(--monarch_primary);
}

.mountain_styles .all_centers_accordion_row {
  background-color: var(--mountain_primary);
}

.willow_styles .all_centers_accordion_row {
  background-color: var(--willow_primary);
}

.all_centers_accordion_headline_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all_centers_accordion_row {
  padding: 10px;

  h4 {
    margin: 0;
    color: #fff;
  }

  p {
    margin: 0;
    color: #fff;
  }

  ul {
    list-style: none;
  }

  li {
    margin: 0;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .all_centers_accordion_wrapper {
    flex-direction: row;
  }

  .all_centers_accordion_wrapper .all_centers_accordion_element {
    width: 45%;
  }
}

@media (min-width: 1024px) {
}
