.all_centers_accordion_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}

.all_centers_accordion_wrapper .all_centers_accordion_element {
  width: 90%;
  max-width: 450px;
  margin: 0 auto 25px auto;
  display: flex;
  flex-direction: column;
}

.all_centers_accordion_element img,
.all_centers_accordion_element picture {
  max-height: 125px;
}

.all_centers_center_image,
.all_centers_center_image img {
  max-height: 250px;
  width: 100%;
}

.all_centers_accordion_headline_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

  img {
    max-height: 25px;
  }
}

.chapters_styles .all_centers_accordion_headline_wrapper {
  background-color: var(--chapters_primary);
}

.chapters_styles .all_centers_accordion_dropdown_wrapper,
.monarch_styles .all_centers_accordion_dropdown_wrapper {
  background-color: var(--sunshine_nav);
}

.lincoln_styles .all_centers_accordion_dropdown_wrapper,
.mountain_styles .all_centers_accordion_dropdown_wrapper,
.willow_styles .all_centers_accordion_dropdown_wrapper {
  background-color: var(--mountain_nav);
}

.center_page_location_address {
  width: 100%;
}

.chapters_styles .center_page_location_address {
  background-color: var(--chapters_secondary);
}

.lincoln_styles .all_centers_accordion_headline_wrapper {
  background-color: var(--lincoln_primary);
}

.lincoln_styles .center_page_location_address {
  background-color: var(--lincoln_secondary);
}

.monarch_styles .all_centers_accordion_headline_wrapper {
  background-color: var(--monarch_primary);
}

.monarch_styles .center_page_location_address {
  background-color: var(--monarch_secondary);
}

.mountain_styles .all_centers_accordion_headline_wrapper {
  background-color: var(--mountain_primary);
}

.mountain_styles .center_page_location_address {
  background-color: var(--mountain_secondary);
}

.willow_styles .all_centers_accordion_headline_wrapper {
  background-color: var(--willow_primary);
}

.willow_styles .center_page_location_address {
  background-color: var(--willow_secondary);
}

.center_page_location_address a {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  padding: 5px;

  span {
    margin-right: 5px;
  }
}

.all_centers_accordion_dropdown_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;

  p {
    font-size: 14px;
    color: #000;
  }

  .all_center_accordion_plus_icon {
    max-width: 15px;
    margin: auto 5px auto 0;
  }

  iframe {
    width: 100% !important;
  }
}

.all_centers_accordion_row_list .all_centers_accordion_dropdown_wrapper span {
  display: flex;
  flex-direction: row;
  width: 45%;
}

.all_centers_accordion_row {
  margin: 0;

  h4 {
    margin: 0;
    text-shadow: 1px 1px grey;
    color: #fff;
  }

  p {
    margin: 0;
    color: #fff;
  }

  ul {
    list-style: none;
  }

  li {
    margin: 0;
    color: #fff;
  }

  .all_centers_accordion_row_accreditations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .all_centers_accordion_wrapper {
    flex-direction: row;
  }

  .all_centers_accordion_wrapper .all_centers_accordion_element {
    width: 45%;
  }
}

@media (min-width: 1024px) {
}
