.alumni_calendar_container {
  padding: 15px;
  border: 2px solid var(--primary_color);
}

.alumni_calendar_form_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.alumni_calendar_form_wrapper input[type="input"] {
  width: 100%;
}

.alumni_calendar_form_wrapper input[type="select"] {
  width: 100%;
}

.alumni_calendar_form_wrapper input[type="submit"] {
  width: 100%;
}

.alumni_calendar_section label.gfield_label {
  color: black;
}

@media (min-width: 768px) {
  .alumni_calendar_form_wrapper input[type="input"] {
    width: 100%;
  }

  .alumni_calendar_form_wrapper input[type="select"] {
    width: 45%;
  }

  .alumni_calendar_form_wrapper input[type="submit"] {
    width: 45%;
  }
}
