.centers_cards_carousel_container {
  display: flex;
  flex-direction: column;
}

.centers_cards_carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.centers_cards_carousel .centers_cards_indv_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 5px;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.centers_cards_carousel .centers_cards_indv_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.centers_cards_indv_card .centers_cards_indv_card_state {
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--secondary_color);
  font-weight: 600;
}

.centers_cards_indv_card img {
  height: 190px;
  margin: 0 auto;
}

.centers_cards_indv_card h4 {
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--secondary_color);
  font-weight: 600;
}

.centers_cards_indv_card .centers_cards_indv_card_subheadline {
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #000;
}

.centers_cards_indv_card .treatment_center_image_container {
  height: 190px;
}

.centers_cards_indv_card .centers_cards_indv_card_learn_more {
  margin: 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--primary_color);
  font-weight: 600;
}

@media (min-width: 600px) {
  .centers_cards_carousel .centers_cards_indv_card {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  .centers_cards_carousel .centers_cards_indv_card {
    width: 30%;
  }
}
