.treatment_center_image_container,
.treatment_centers_container h2,
.treatment_centers_container h3,
.treatment_centers_container h4,
.treatment_centers_container h5,
.treatment_centers_container p {
  text-align: center;
  color: var(--secondary_color);
  margin: 0;
}

.treatment_center_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.treatment_center_container .treatment_center_card_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.treatment_center_card_container .treatment_center_card_content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.treatment_center_card_learn_more a {
  color: var(--primary_color);
}

.treatment_centers_container h5 {
  font-weight: 500;
  margin-top: 0;
}

.treatment_centers_container h2 {
  font-weight: 700;
  margin: 0 auto;
}

.treatment_centers_container h4 {
  width: 100%;
  font-weight: 600;
}

.treatment_centers_container p {
  color: #000;
  line-height: 1.5;
}

.treatment_center_image_container {
  display: flex;
  justify-content: center;
}

.treatment_center_image_container img {
  max-height: 190px;
  height: 100%;
}

@media (min-width: 600px) {
  .treatment_center_container .treatment_center_card_container {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  .treatment_center_container .treatment_center_card_container {
    width: 30%;
  }
}
