.customized_map_section {
  margin: 25px 0;
}

.customized_map_container {
  display: flex;
  flex-direction: column;
}

.customized_map_right_wrapper iframe {
  width: 100% !important;
  max-width: 100%;
  height: 100% !important;
}

.customized_map_wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.customized_map_right_wrapper {
  width: 100%;
  position: relative;
}

.customized_map_wrapper .customzied_map_cta {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 7.5px auto 15px auto;
  padding: 10px 15px;
  color: #fff;
  text-align: center;
}

.customized_map_wrapper .customzied_map_cta:hover {
  background-color: var(--tertiary_color);
  color: #fff;
}

.customized_map_legal_notice {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  color: #fff;
  background-color: #8b0000;
  opacity: 0.8;
}

.customized_map_wrapper img {
  width: 100%;
}

.customized_map_wrapper ul {
  list-style: disc;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 5px;
}

.customized_map_wrapper li {
  width: 50%;
  display: flex;
  flex-direction: row;
  list-style: none;
  line-height: 1.2;
  margin-bottom: 5px;
  padding: 2.5px 0;
  margin-bottom: 0;
}

.customized_map_wrapper li p {
  margin: auto 0;
}

.customized_map_wrapper ul li img {
  max-height: 15px;
  max-width: 15px;
  margin: auto 5px;
}

.customized_map_wrapper .customized_map_headlines {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-shadow: 2px 2px 2px grey;
  padding: 10px;
}

.customized_map_iframe_wrapper {
  position: relative;
}

.customized_map_iframe_wrapper iframe {
  width: 100% !important;
  max-width: 100%;
  max-height: 20vh !important;
}

.customized_map_address_container {
  margin-top: -6px;
}

.customized_map_address_container p {
  color: #fff;
  text-align: center;
  padding: 5px;
  margin: 0;
  font-size: 12px;
}

.customized_map_address_container p span {
  font-weight: 600;
}

.customized_map_main_image {
  position: relative;
}

.customized_map_body_wrapper {
  position: relative;
}

.customzied_map_cta {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary_color);
}

@media (min-width: 475px) {
  .customized_map_address_container p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .customized_map_container {
    flex-direction: row;
  }
  .customized_map_right_wrapper {
    width: 40%;
  }
  .customized_map_wrapper {
    width: 60%;
    position: relative;
    margin-right: 10px;
  }
  .customized_map_address_container {
    order: 3;
  }
  .customized_map_body_wrapper {
    margin: 5px 0;
  }
  .customized_map_wrapper img {
    max-height: 400px;
  }
}


@media (min-width: 1024px) {
  .customized_map_container {
    flex-direction: row;
  }
}
