.facebook_shortcode_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: #e4eff7;
}

.facebook_shortcode_container h3 {
  color: var(--secondary_color);
  text-align: center;
}

.facebook_shortcode_repeater_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.facebook_shortcode_repeater_container img {
  max-width: 30px;
  width: 100%;
}

.facebook_shortcode_repeater_container .facebook_shortcode_repeater_element {
  width: 30%;
  border: 2px solid red;
}

@media (min-width: 768px) {
  .facebook_shortcode_repeater_container .facebook_shortcode_repeater_element {
    width: 18%;
  }
}
