main .list_and_cta_section {
  background-color: #e4eff7;
  padding: 0;
  margin: 25px 0;
}

.list_and_cta_container {
  padding: 10px;
}

.list_and_cta_container h5 {
  text-align: center;
  color: var(--secondary_color);
  font-size: 24px;
  margin: 0;
}

.list_and_cta_container p {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.list_and_cta_container .list_and_cta_bottom p {
  text-align: left;
}

.insurance_list_and_cta .list_and_cta_container p {
  color: var(--secondary_color);
  margin: auto 0;
  white-space: nowrap;
}

.insurance_list_and_cta .list_and_cta_bottom_container p {
  margin: 10px auto 10px auto;
  font-size: 16px;
}

.sidebar_shortcode.insurance_list_and_cta .list_and_cta_bottom_container p {
  margin: 10px auto 10px auto;
  font-size: 16px;
  text-align: center;
}

.list_and_cta_bottom {
  margin-top: 10px;
}

.list_and_cta_bottom .list_and_cta_list_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.primary-sidebar .list_and_cta_bottom .list_and_cta_list_wrapper {
  flex-direction: column;
}

.list_and_cta_bottom .list_and_cta_list_wrapper .list_and_cta_list_element {
  display: flex;
  flex-direction: row;
  width: 45%;
  margin: 5px 0;
}

.list_and_cta_section.sidebar_shortcode
  .list_and_cta_bottom
  .list_and_cta_list_wrapper
  .list_and_cta_list_element {
  width: 100%;
}

.list_and_cta_list_element_wrapper {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 0 auto;
}

.list_and_cta_list_element_wrapper a {
  display: flex;
  flex-direction: row;
}

.list_and_cta_bottom .list_and_cta_list_wrapper .list_and_cta_list_element img {
  max-width: 30px;
  max-height: 30px;
  margin-right: 5px;
}

.list_and_cta_bottom_cta_wrapper {
  display: flex;
  justify-content: center;
  border-radius: 2px;
}

.list_and_cta_bottom_cta_wrapper a {
  padding: 10px 20px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--primary_color);
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.list_and_cta_bottom_cta_wrapper a:hover {
  background-color: var(--tertiary_color);
}

.list_and_cta_bottom_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1024px) {
  .list_and_cta_bottom .list_and_cta_list_wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .list_and_cta_dynamic_shortcode
    .list_and_cta_bottom
    .list_and_cta_list_wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .primary-sidebar .list_and_cta_bottom .list_and_cta_list_wrapper {
    flex-direction: column;
  }
  .list_and_cta_bottom .list_and_cta_list_wrapper .list_and_cta_list_element {
    display: flex;
    flex-direction: row;
    width: 30%;
  }
  .list_and_cta_list_wrapper .list_and_cta_list_element p {
    width: 80%;
    white-space: nowrap;
  }
  .list_and_cta_bottom_container {
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
  }
  .list_and_cta_list_element_wrapper {
    width: 100%;
    margin-left: 75px;
  }
  .sidebar_shortcode .list_and_cta_list_element_wrapper {
    width: 70%;
    margin: 0 auto;
  }
  .insurance_list_and_cta .list_and_cta_bottom_container p {
    margin: 0 auto;
  }
  .list_and_cta_bottom
    .list_and_cta_list_wrapper
    .list_and_cta_list_element
    img {
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  .list_and_cta_bottom .list_and_cta_list_wrapper {
    flex-direction: column;
    align-items: center;
  }
}
