.twentyfive_px_spacer {
    margin: 12.5px 0!important;
    display: flex;
  }
  
  .thirtytwo_px_spacer {
    margin: 16px 0 !important;
    display: flex;
  }
  
  .fifty_px_spacer {
    margin: 25px 0!important;
    display: flex;
  }
  
  .seventyfive_px_spacer {
    margin: 37.5px 0!important;
    display: flex;
  }
  
  .onehundred_px_spacer {
    margin: 50px 0!important;
    display: flex;
  }