.cta_no_btn_no_bkg_container a {
  text-align: center;
}

.cta_no_btn_no_bkg_container a span {
  display: inline;
}

.cta_no_btn_no_bkg_container .cta_no_btn_no_bkg_sentence_1 {
  font-size: 20px;
  color: var(--primary_color);
  font-weight: 600;
  margin-right: 10px;
}

.cta_no_btn_no_bkg_container .cta_no_btn_no_bkg_sentence_2 {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
