.page_disclosure_section {
  margin: 50px 0;
}

.page_disclosure_section .medical_disclaimer_headline {
  margin-bottom: 5px;
  font-weight: 700;
}

.page_disclosure_section p {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .page_disclosure_section {
    padding: 0 20px;
  }
}
