.activities_section {
  display: flex;
  flex-direction: column;
}

.activity {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid var(--primary_color);
  height: auto;
}

.img_carousel_left,
.img_carousel_right,
.text_left,
.text_right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity_page_image_container {
  position: relative;
}

.activity_hero_headline {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background: rgba(0, 0, 0, 0.5);
}

.top_activity_page_content h2 {
  text-align: center;
  padding: 0 10px;
  color: var(--primary_color);
}

.activity_page_content_section {
  margin-bottom: 25px;
}

.activity_page_content_section p {
  text-align: left;
  padding: 0 25px;
}

.activity_page_about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.acitivty_page_about_card {
  width: 100%;
  text-align: left;
}

.acitivty_page_about_card img {
  height: 200px;
  width: 375px;
  object-fit: cover;
}

.acitivty_page_about_card_text {
  padding: 25px;
}

@media (min-width: 768px) {
  .activity {
    flex-direction: row;
    height: 400px;
  }
  .activity_page_about_container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .acitivty_page_about_card {
    width: 31%;
  }
  .img_carousel_left,
  .img_carousel_right,
  .text_left,
  .text_right {
    margin: 0 auto;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .activity_page_about_container {
    margin: 75px 0 25px 0;
  }
}
