.desktop_and_mobile_hero_image_wrapper {
  padding: 50px 20px;
}

.desktop_and_mobile_hero_image_wrapper h1 {
  position: relative;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 1px 1px grey;
}

.desktop_and_mobile_hero_image_wrapper p {
  position: relative;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 1px 1px grey;
}
