.center_page#primary {
  width: 100%;
  max-width: 100%;
}

.center_page_treatment_list_container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.center_page_treatment_list_container ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.center_page_treatment_list_container ul li img {
  margin-right: 10px;
}

.center_page .center_page_hero_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.center_page .center_page_hero_wrapper img,
.center_page .center_page_hero_wrapper picture {
  width: 100%;
  max-height: 350px;
}

.center_page .center_page_hero_wrapper .center_page_hero_content_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.center_page
  .center_page_hero_wrapper
  .center_page_hero_content_wrapper
  .center_page_hero_headline_wrapper {
  flex-direction: column;
  align-items: center;
}

.center_page .center_page_hero_wrapper .center_page_hero_content_wrapper h1 {
  color: #fff;
  padding: 0;
  margin: 0 0 15px 0;
  text-align: center;
}

.center_page .center_page_hero_wrapper .center_page_hero_content_wrapper img {
  margin: 0 auto 15px auto;
}

.center_page .center_page_hero_wrapper .center_page_hero_content_wrapper a {
  display: flex;
  color: #fff;
  padding: 5px 10px;
  margin: 0;
  background-color: var(--primary_color);
  justify-content: center;
  border-radius: 3px;
  font-size: 20px;
}

.center_page
  .center_page_hero_wrapper
  .center_page_hero_content_wrapper
  a:hover {
  background-color: var(--tertiary_color);
}

.center_page_location_container {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

.center_page_location_container .center_page_location_wrapper {
  display: flex;
  flex-direction: column;
}

.center_page_location_container
  .center_page_location_wrapper
  .center_page_location_content_wrapper,
.center_page_location_container
  .center_page_location_wrapper
  .center_page_location_iframe_wrapper {
  width: 100%;
}

.center_page_location_iframe_wrapper iframe {
  width: 100% !important;
  height: 250px !important;
}

.center_page_location_iframe_wrapper .center_page_location_address {
  padding: 15px;
}

.center_page_location_iframe_wrapper .center_page_location_address a {
  color: #fff;
}

.center_page_location_iframe_wrapper .center_page_location_address a span {
  font-weight: 700;
}

@media (min-width: 768px) {
  .center_page .center_page_hero_wrapper .center_page_hero_content_wrapper {
    align-items: flex-start;
    padding-left: 75px;
  }
  .center_page_location_container .center_page_location_wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .center_page_location_container
    .center_page_location_wrapper
    .center_page_location_content_wrapper,
  .center_page_location_container
    .center_page_location_wrapper
    .center_page_location_iframe_wrapper {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .center_page_treatment_list_container ul li {
    width: 45%;
  }
  .center_page .center_page_hero_wrapper {
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .center_page_treatment_list_container ul li {
    width: 30%;
  }
}

.chapters_styles h2,
.chapters_styles h3,
.chapters_styles h4,
.chapters_styles h5 {
  color: var(--chapters_primary);
}

.monarch_styles h2,
.monarch_styles h3,
.monarch_styles h4,
.monarch_styles h5 {
  color: var(--monarch_primary);
}

.mountain_styles h2,
.mountain_styles h3,
.mountain_styles h4,
.mountain_styles h5 {
  color: var(--mountain_primary);
}

.willow_styles h2,
.willow_styles h3,
.willow_styles h4,
.willow_styles h5 {
  color: var(--willow_primary);
}

.center_page_content_container .glide__slides {
  overflow: initial;
  margin: 0;
}

.center_page_content_container .glide__slide {
  width: 225px !important;
}

.center_page_content_container .glide__slide img {
  width: 225px;
  height: 150px;
}

.center_page_testimonial_container img {
  max-width: 100px;
}

.center_page_testimonial_section {
  background-color: var(--secondary_color);
  padding: 15px;
}

.center_page_badge_container {
  border: 2px solid var(--secondary_color);
  background-color: #fff;
  width: 60%;
  margin: -50px auto 0 auto;
}

.ceneter_page_badges_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.center_page_testimonial_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.center_page_treatment_list_section {
  margin-bottom: 50px;
}

.center_page_expandable_row_container {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.center_page_expandable_row_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.center_page_expandable_row_container img {
  width: 100%;
}

.expandable_row_element .expandable_row_element_headline_img_wrapper img {
  height: 30px;
  width: auto;
}

.center_page_expandable_row_container .expandable_row_element {
  border-right: 2px solid var(--secondary_color);
  border-bottom: 2px solid var(--secondary_color);
  border-left: 2px solid var(--secondary_color);
  padding: 5px;
}

.center_page_expandable_row_container .expandable_row_element:first-child {
  border-top: 2px solid var(--secondary_color);
}

.center_page_expandable_row_container .expandable_row_element h5 {
  margin: 0;
}

.center_page_insurance_form_container {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}

.center_page_insurance_form_content_wrapper {
  width: 100%;
}

.center_page_insurance_form_wrapper {
  width: 100%;
}

@media (min-width: 768px) {
  .center_page_expandable_row_container {
    flex-direction: row;
  }
  .center_page_expandable_row_wrapper,
  .center_page_expandable_row_container img {
    width: 45%;
  }
  .center_page_insurance_form_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .center_page_insurance_form_content_wrapper {
    width: 40%;
  }
  .center_page_insurance_form_wrapper {
    width: 40%;
  }
  .center_page_insurance_form_wrapper .insurance_page_form_section {
    width: 100%;
  }
  .center_page_testimonial_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 0 auto;
  }
}

.chaptersPrimaryBorder {
  border: 2px solid #e8af52;
}

.lincolnPrimaryBorder {
  border: 2px solid #44898c;
}

.monarchPrimaryBorder {
  border: 2px solid #7ecfda;
}

.mountainPrimaryBorder {
  border: 2px solid #377d63;
}

.willowPrimaryBorder {
  border: 2px solid #387e63;
}

.center_text_left_carousel_right {
  display: flex;
  flex-direction: column;
}

.center_carousel_container {
  width: 100%;
  padding: 25px;
}

.center_carousel_paragraph {
  width: 100%;
  padding: 25px;
  text-align: center;
}

.center_carousel_paragraph h2 {
  margin: 0 0 12.5px 0;
}

.center_page_address_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--primary_color);
  margin-top: 15px;
}

.center_page_address_container h4 {
  text-align: center;
  font-weight: bolder;
}

.center_page_address_container h5 {
  text-align: center;
  font-weight: bolder;
}

.center_page_cta_interjection1_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0075c9;
}

.center_page_cta_interjection1_container h3 {
  margin-top: 25px;
  color: #fff;
}

.center_page_cta_interjection1_container .cta_btn {
  margin: 25px auto;
  background-color: var(--primary_color);
  border-radius: 2px;
}

.center_page_cta_interjection1_container .cta_btn:hover {
  background-color: var(--tertiary_color);
}

.center_page_cta_interjection2_section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.center_page_cta_interjection2_container {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  padding: 25px 0;
}

.center_page_cta_interjection2_container h3 {
  height: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #010101;
}

.cta_interjection_2_headline_wrapper {
  width: 100%;
}

.center_page_cta_interjection2_container .cta_btn {
  width: 100%;
}

.center_page_cta_interjection2_container .cta_btn a {
  background-color: var(--secondary_color);
  padding: 12.5px 25px;
}

.center_page_testimonial_container h4 {
  color: #fff;
  margin-bottom: 25px;
}

.center_page_testimonial_container p {
  color: #fff;
}

.center_page_form_section {
  display: flex;
  flex-direction: column;
}

.center_page_content_container {
  width: 100%;
  text-align: center;
}

.center_page_form_container {
  width: 100%;
  padding: 25px;
}

.center_page_form_container h2 {
  text-align: center;
}

.center_page_form_container h2,
.center_page_form_container legend,
.center_page_form_container p {
  color: #fff;
}

.center_page_form_container #insurance {
  background-color: var(--secondary_color);
}

#insurance h2 {
  color: #fff;
}

.center_page_form_container .insurance_form_section_1,
.center_page_form_container .insurance_form_section_2,
.center_page_form_container .insurance_form_section_3 {
  background-color: var(--secondary_color);
  border: 2px solid var(--primary_color);
}

.center_page_badge_section {
  margin: 50px 0;
}

.center_page_page_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.center_page_badge_container {
  margin: 0 12.5px;
}
