.insurance_page_container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0 20px;
}

.insurance_page_video_content_section {
  width: 100%;
  min-height: 200px;
  height: auto;
}

.insurance_page_form_section {
  padding-top: 10px;
  width: 100%;
  min-height: 200px;
  height: auto;
  background-color: var(--secondary_color);
  border-radius: 2px;
  color: #fff;
}

.insurance_page_form_section form {
  padding: 10px 20px;
}

.insurance_page_form_section form ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.insurance_page_form_section form .gform_fields {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.insurance_page_form_section form .gform_fields h3 {
  text-align: center;
}

.center_page_insurance_form_wrapper .insurance_page_form_section h2,
.insurance_page_form_section h2 {
  color: #fff;
  margin: 0;
  text-align: center;
}

.check_insurance_headline {
  text-align: center;
}

.insurance_page_video_headline h3 {
  font-size: 28px;
  font-weight: 600;
  color: #157aad;
}

.insurance_page_video_iframe {
  text-align: center;
}

.insurance_page_video_content_container h3 {
  color: #157aad;
}

@media (min-width: 1024px) {
  .insurance_page_container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  .insurance_page_video_content_section {
    width: 48%;
  }
  .insurance_page_form_section {
    width: 50%;
  }
}

.insurance_page_hero {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.insurance_page_hero_headlines {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.insurance_page_hero h2 {
  font-size: 24px;
  width: 80%;
  padding-top: 20px;
}

.insurance_page_hero h1,
.insurance_page_hero h2 {
  color: #fff;
  text-shadow: 2px 2px 2px grey;
  text-align: center;
}

.insurance_page_hero h2 {
  width: 100%;
}

@media (min-width: 768px) {
  .insurance_page_hero_headlines {
    width: 70%;
  }
  .insurance_page_hero h2 {
    padding-top: 36px;
    width: 80%;
    font-size: 32px;
  }
}

.insurance_form_section_1,
.insurance_form_section_2,
.insurance_form_section_3 {
  padding: 20px;
  border: 2px solid var(--fourth_color);
  border-radius: 2px;
  margin-bottom: 26px;
}

.insurance_form_section_1_inputs,
.insurance_form_section_2_inputs,
.insurance_form_section_3_inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.insurance_form_section_1_inputs input,
.insurance_form_section_2_inputs input,
.insurance_form_section_3_inputs input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-radius: 2px;
}

.insurance_form_textarea_button_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.insurance_form_textarea {
  width: 100%;
}

.insurance_form_textarea_submit:hover {
  background-color: var(--tertiary_color);
}

@media (min-width: 1025px) {
  .insurance_form_section_1_inputs,
  .insurance_form_section_2_inputs,
  .insurance_form_section_3_inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .insurance_form_section_1_inputs input,
  .insurance_form_section_2_inputs input,
  .insurance_form_section_3_inputs input {
    width: 48%;
  }
}

.insurance_form_textarea_submit {
  width: 40% !important;
  margin: 36px auto 0 auto;
  align-items: center;
  background-color: var(--primary_color);
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

#ui-datepicker-div {
  background-color: #fff;
  padding: 5px;
}

.validation_message {
  color: red;
}

.full_width {
  width: 100% !important;
}
