.thank_you_page_main_content {
  padding: 0;
  max-width: 1250px;
  margin: 20px auto 0 auto;
}

.thank_you_infographic_container img {
  width: 100%;
}

.thank_you_infographic_container iframe {
  width: 100%;
}

.thank_you_page_footer .page_disclosure_section {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .thank_you_page_main_content {
    padding: 0 20px;
  }
}
