.editor_and_medical_review_section {
  display: flex;
  flex-direction: row;
}

.editor_container {
  width: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-right: 5px;
  position: relative;
}

@media (max-width: 700px) {
  #editor_avatar_reference img {
    display: none;
  }
}

.medical_review_container .medical_review_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5px;
  padding-bottom: 7px;
  position: relative;
}

.author_and_medical_reviwer_sidebar_section
  .medical_review_container
  .medical_review_wrapper {
  flex-wrap: nowrap;
}

.editor_meta_wrapper {
  display: flex;
  flex-direction: column;
}

.medical_review_meta_wrapper {
  display: flex;
  flex-direction: column;
}

.editor_meta_wrapper button,
.medical_review_meta_wrapper button {
  font-size: 14px;
  background: 0 0;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  padding-left: 10px;
  text-align: right;
}

.editor_meta_bio_container,
.medical_review_meta_bio_container {
  position: absolute;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 #000;
  z-index: 10;
  background: #fff;
  width: auto;
  margin-top: 100px;
  border: 2px solid var(--secondary_color);
  border-radius: 2px;
  padding: 10px;
  top: 0;
}

.medical_review_meta_bio_container p a,
.editor_meta_bio_container p a {
  color: var(--secondary_color);
  text-align: center;
}

.medical_review_meta_bio_container h6,
.editor_meta_bio_container h6 {
  margin-top: 0;
}

.editor_wrapper img,
.medical_review_wrapper img {
  min-width: 10%;
  margin: 0;
  border-radius: 99px;
  height: 100px;
  max-width: 100px;
}

.medical_review_wrapper img {
  min-width: 10%;
  margin-right: 0.75rem;
}

.editor_and_review_section .editor_last_date,
.editor_and_review_section .medical_review_last_date {
  padding: 0 0;
  font-size: 12px;
  margin: 0;
  color: #000;
}

.medical_review_meta_wrapper .medical_review_last_date_content {
  font-size: 12px;
  margin-bottom: 5px;
  color: var(--secondary_color);
}

.medical_review_meta_wrapper .medical_review_last_date {
  font-weight: 600;
}

.editor_meta_wrapper .editor_last_date,
.medical_review_meta_wrapper .medical_review_last_date {
  font-size: 12px;
  margin-bottom: 0;
}

.editor_and_review_section .editor_last_date .editor_last_date_span,
.editor_and_review_section .editor_meta_name .author_name_before_span {
  color: #000;
  font-weight: 600;
}

.editor_meta_name a span,
.medical_review_meta_name a span {
  color: var(--secondary_color);
}

.editor_and_review_section .editor_last_date .author_name_span,
.editor_and_review_section .editor_last_date .editor_last_edit_date {
  color: var(--secondary_color);
}

.medical_review_last_date {
  margin-top: 10px;
}

.page_wrapper .editor_meta_title,
.page_wrapper .medical_review_meta_title {
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}

.page_wrapper .editor_meta_name {
  font-size: 12px;
  font-weight: 600;
  color: var(--secondary_color);
  margin: 0;
}

.page_wrapper ul,
.page_wrapper ol {
  margin-left: 10px;
}

.page_wrapper .medical_review_meta_name {
  font-size: 12px;
  font-weight: 600;
  color: var(--secondary_color);
  margin: 0;
}

.page_wrapper .medical_review_meta_name,
.page_wrapper .medical_review_meta_title {
  margin: 0;
}

.medical_review_approval_container .medical_review_approval_paragraph {
  font-size: 11px;
  font-weight: 700;
  color: #000;
}

.medical_review_meta_position,
.page_wrapper .editor_meta_position {
  font-size: 14px;
  margin: 0 0 5px 0;
  color: var(--primary_color);
}

.editor_meta_about_paragraph_container #editor__bio,
.medical_review_meta_about_paragraph_container #medical_review_bio {
  font-size: 12px;
  padding-left: 7px;
}

.editor_meta_about_paragraph_container,
.medical_review_meta_about_paragraph_container {
  padding-left: 7px;
}

.editor_and_review_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-evenly;
}

.hero_subheadline {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-shadow: 1px 1px 1px grey;
  width: 95%;
  margin: 0 auto;
  line-height: 25px;
  text-align: center;
}

.medical_review_approval_container {
  width: 100%;
}

.medical_review_spacer {
  content: "";
  background-color: #cdcdcd;
  height: 1px;
  width: 100%;
  margin: 10px auto 10px auto;
}

.medical_review_middle_spacer {
  content: "";
  background-color: #cdcdcd;
  height: 80px;
  margin: auto -20px;
  width: 2px;
}

.medical_review_container {
  min-width: 250px;
}

.editor_and_review_section p {
  display: flex;
  flex-direction: column;
}

.editor_and_review_section .editor_last_date .editor_last_edit_date,
.medical_review_meta_wrapper .medical_review_last_date_content {
  color: #585858;
}

.editor_container_no_medical_user .editor_wrapper {
  display: flex;
  flex-direction: row;
}

.editor_container_no_medical_user .editor_wrapper img {
  margin-right: 0.75rem;
}

.author_and_medical_reviwer_sidebar_section .medical_review_container {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .editor_and_review_section {
    width: 100%;
    margin: 0 auto;
  }
  .medical_review_wrapper .medical_review_approval_paragraph {
    width: 100%;
    margin-top: 25px;
  }
  .google_web_story_container iframe {
    max-width: 300px;
  }
  .medical_review_container {
    border-left: 2px solid #cdcdcd;
  }
}

@media (max-width: 350px) {
  .editor_and_review_section {
    flex-direction: column;
  }
  .editor_meta_wrapper {
    flex-direction: row;
  }
  .medical_review_middle_spacer {
    display: none;
  }
  .editor_and_review_section p {
    flex-direction: row;
  }
  .editor_meta_name .author_name_before_span {
    margin-right: 2.5px;
  }
  .editor_and_review_section .editor_last_date .editor_last_edit_date,
  .medical_review_meta_wrapper .medical_review_last_date_content {
    color: var(--secondary_color);
    font-weight: 600;
  }
  .medical_review_wrapper img {
    display: none;
  }
}

.editor_container_no_medical_user .editor_wrapper {
  justify-content: center;
}

.author_and_medical_reviewer_section {
  padding: 15px;
  margin-bottom: 32px;
  background-color: #e4eff7;
  border-radius: 10px;
}

.author_and_medical_reviewer_section .editor_container,
.author_and_medical_reviewer_section .medical_review_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.author_and_medical_reviewer_section .editor_wrapper,
.author_and_medical_reviewer_section .medical_review_wrapper {
  display: flex;
  flex-direction: row;
}

.author_and_medical_reviewer_section
  .medical_review_container
  .medical_review_wrapper {
  padding: 0;
}

.author_and_medical_reviewer_section .editor_last_date .editor_last_date_span,
.author_and_medical_reviewer_section
  .editor_meta_name
  .author_name_before_span {
  color: #000;
  font-weight: 600;
}

.author_and_medical_reviewer_section .editor_last_date .editor_last_edit_date,
.medical_review_meta_wrapper .medical_review_last_date_content {
  color: #585858;
  font-size: 14px;
  font-weight: 600;
}

.author_and_medical_reviewer_section .author_name_span {
  color: var(--secondary_color);
  font-size: 14px;
  font-weight: 600;
}

.author_and_medical_reviewer_section .editor_meta_wrapper {
  margin-left: 10px;
}

.author_and_medical_reviewer_section .editor_meta_wrapper p {
  display: flex;
  flex-direction: column;
}

.author_and_medical_reviewer_section p {
  margin: 0;
}

.author_and_medical_reviewer_section p.medical_review_meta_title {
  color: #000;
  font-weight: 600;
  font-size: 15px;
}

.author_and_medical_reviewer_section p.medical_review_meta_name {
  color: var(--secondary_color);
  font-size: 14px;
  font-weight: 600;
}

.medical_reviewer_container ul,
.author_container ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 90%;
  margin: 0 auto;
}

.author_container .author_element,
.medical_reviewer_container .medical_reviewer_element {
  position: relative;
}

.author_container .author_element span,
.medical_reviewer_container .medical_reviewer_element span {
  position: absolute;
  top: -100px;
}

.medical_reviewer_container ul li,
.author_container ul li {
  display: flex;
  flex-direction: column;
  list-style: disc;
  justify-content: center;
  border: 2px solid var(--secondary_color);
}

.medical_reviewer_container ul li ul li,
.author_container ul li ul li {
  border: none;
  margin: 0;
}

.author_container .author_posts_wrapper {
  margin-top: 20px;
}

.medical_reviewer_content_wrapper,
.author_content_wrapper {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.author_container .author_posts_wrapper ul li {
  display: list-item;
  list-style-type: disc;
  margin-bottom: 0;
}

.author_container .author_image_wrapper,
.medical_reviewer_container .medical_reviewer_image_wrapper {
  display: flex;
  align-items: center;
}

.author_content_wrapper a {
  color: var(--secondary_color);
}

.author_content_wrapper .medical_review_title,
.author_content_wrapper .author_title {
  font-weight: 700;
  margin-bottom: 10px;
}

.author_content_wrapper h5,
.medical_reviewer_content_wrapper h5 {
  text-align: center;
}

.medical_reviewer_content_wrapper h6,
.author_content_wrapper h6 {
  text-align: center;
}

.medical_reviewer_content_wrapper p,
.author_content_wrapper p {
  text-align: center;
}

@media (max-width: 1024px) {
  .medical_reviewer_container ul li .medical_reviewer_image_wrapper img,
  .author_container ul li .author_image_wrapper img {
    max-height: 250px;
    margin: 0 auto;
  }
}

@media (min-width: 700px) {
  .editor_and_review_section p,
  .editor_meta_wrapper .editor_last_date,
  .medical_review_meta_wrapper .medical_review_last_date,
  .page_wrapper .editor_meta_name,
  .page_wrapper .medical_review_meta_title {
    font-size: 14px;
    white-space: nowrap;
  }
  .editor_and_review_section .editor_wrapper img {
    margin-right: 10px;
  }
  .editor_and_review_section {
    display: flex;
    flex-direction: row;
  }
  .medical_review_meta_wrapper {
    margin-right: 50px;
  }
  .author_and_medical_reviwer_sidebar_section .medical_review_meta_wrapper {
    margin-right: 0;
  }
  .editor_and_review_section .editor_wrapper {
    display: flex;
    flex-direction: row;
  }
  .editor_meta_wrapper,
  .medical_review_meta_wrapper {
    padding-top: 0;
  }
  .editor_meta_wrapper {
    flex-direction: column;
  }
  .hero_subheadline {
    color: #000;
    text-shadow: none;
    width: 100%;
    font-weight: 500;
    margin: 5px 0 15px 0;
    padding: 0;
    font-size: 16px;
    text-align: left;
  }
  .editor_and_review_section .editor_last_date .editor_last_edit_date,
  .medical_review_meta_wrapper .medical_review_last_date_content {
    color: #585858;
    font-size: 14px;
    font-weight: 600;
  }
  .editor_container {
    padding-bottom: 0;
    width: 48%;
    margin: 0;
    align-items: center;
  }
  .editor_container_no_medical_user.editor_container {
    width: 70%;
    align-items: center;
  }
  .medical_review_container {
    width: 48%;
  }
  .editor_and_review_section .editor_last_date .editor_last_edit_date {
    font-size: 14px;
    font-weight: 600;
  }
  .editor_and_review_section .editor_meta_name .author_name_before_span {
    font-size: 14px;
  }
  .page_wrapper .medical_review_meta_name {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .medical_reviewer_container ul li .medical_reviewer_image_wrapper img,
  .author_container ul li .author_image_wrapper img {
    margin: 0 auto;
    height: auto;
    max-width: 320px;
    padding: 10px;
  }
  .author_container .author_image_wrapper,
  .medical_reviewer_container .medical_reviewer_image_wrapper {
    display: flex;
    align-items: center;
  }
  .medical_reviewer_container ul li .medical_reviewer_content_wrapper,
  .author_container ul li .author_content_wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;
    background-color: #fff;
    margin: auto 0;
  }
  .author_content_wrapper h5,
  .medical_reviewer_content_wrapper h5 {
    font-size: 25px;
    margin: 0;
    text-align: left;
  }
  .medical_reviewer_content_wrapper h6,
  .author_content_wrapper h6 {
    font-size: 16px;
    margin: 0;
    text-align: left;
  }
  .medical_reviewer_content_wrapper p,
  .author_content_wrapper p {
    text-align: left;
    margin: 0;
    line-height: 1.5;
  }
  .author_posts_wrapper a {
    color: var(--secondary_color);
  }
  .medical_reviewer_container ul,
  .author_container ul {
    width: 100%;
  }
  .contributors_page .page_wrapper {
    width: 70%;
    margin: 0 auto;
  }
  .medical_reviewer_container ul li,
  .author_container ul li {
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .editor_wrapper img,
  .medical_review_wrapper img {
    min-width: 10%;
    margin: 0;
    border-radius: 99px;
    height: 115px;
    max-width: 125px;
  }
}
