.comment-navigation .nav-previous,
.post-navigation .nav-previous,
.posts-navigation .nav-previous {
  width: 50%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.post-navigation .nav-next,
.posts-navigation .nav-next {
  text-align: end;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}

.post-navigation-sub span {
  color: #333;
  color: var(--global-font-color);
  text-decoration: none;
  display: inline-block;
}

.site-main .pagination {
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;
}

.pagination .nav-links {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pagination .page-numbers {
  display: inline-block;
  margin-bottom: 0.5em;
  margin-right: 1em;
  border: 1px solid #0073aa;
  border: 1px solid var(--color-link);
  min-width: 1.75em;
  line-height: 1.75;
  text-align: center;
  text-decoration: none;
}

.pagination a:visited {
  color: #0073aa;
  color: var(--color-link);
}

.pagination a:active,
.pagination a:focus,
.pagination a:hover {
  border-color: #00a0d2;
}

.pagination .next,
.pagination .prev {
  min-width: auto;
  border-color: transparent;
  text-decoration: underline;
}

.pagination .next:active,
.pagination .next:focus,
.pagination .next:hover,
.pagination .prev:active,
.pagination .prev:focus,
.pagination .prev:hover {
  border-color: transparent;
}

.pagination .dots {
  min-width: auto;
  border: none;
}

.pagination .current {
  border-color: #333;
  border-color: var(--global-font-color);
}
