.toc {
  background-color: #f8f8f8;
  margin-right: 25px;
  max-width: 100%;
  margin-top: 0;
  position: relative;
  color: var(--secondary_color);
  border: outset 2px var(--secondary_color);
  padding: 10px 25px;
}

ol.toc {
  margin-left: 0 !important;
}

.toc h5 {
  margin-right: -5px;
}

@media (min-width: 768px) {
  .toc {
    width: 100%;
    padding: 10px 25px;
  }
}

.toc li {
  line-height: 1.5;
  margin-left: 0.8em;
  padding: 0;
}

.toc li a {
  color: var(--secondary_color);
  font-size: 18px;
  font-weight: 600;
}

.toc .toc_dropdown {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

.toc img {
  height: 20px;
}

.toc li {
  display: none;
}

.toc h5 {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  display: flex;
  margin: 0 0 0 -15px;
}

.toc li a {
  font-weight: 400;
}

.toc .showTOC {
  display: list-item;
}

@media (max-width: 1024px) {
  .toc {
    width: 100%;
    text-align: left;
  }
  .toc li {
    line-height: 1.5;
    text-align: left;
  }
}
